.timegraph-graphs {
    padding-right: 5px;
    padding-bottom: 5px;
}

.timegraph-graphs img {
    margin-left: 5px;
    margin-top: 5px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-dialog {
    box-shadow: 0 0 15px #666;
}

.ui-dialog p.submit {
   margin: 0; 
}
